<div class="section">
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :first_name, class: "validate" %>
      <%= f.label :first_name %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :last_name, class: "validate" %>
      <%= f.label :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :school_name, class: "validate" %>
      <%= f.label :school %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :major_name, class: "validate" %>
      <%= f.label :major %>
    </div>
  </div>

  <div class="row">
    <div class="col s3" style="margin-top: 1rem">
      <%= f.label :graduation_year %>
      <div class="select-wrapper">
        <%= select_year student.graduation_year,
                        {
                          prefix: "student",
                          field_name: "graduation_year",
                          start_year: 10.years.from_now.year,
                          end_year: 1950,
                          prompt: "Select graduation year"
                        },
                        {
                          class: "browser-default"
                        } %>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action"><%= button_text %>
      <i class="mdi-content-send right"></i>
    </button>
  </div>
</div>
