<table class="hoverable">
  <thead>
    <tr>
      <th></th>
      <th>Full Name</th>
      <th>School</th>
      <th>Department</th>
      <th>Major</th>
    </tr>
  </thead>
  <tbody>
    <% students.each do |student| %>
      <tr>
        <td>
          <img src="<%= student.img_url %>" class="avatar-small circle"></img>
        </td>
        <td>
          <a href="<%= student_path student.username %>">
            <%= student.name %>
          </a>
        </td>
        <td>
          <% if student.school_name %>
            <%= student.school_name %>
          <% else %>
            <div class="grey-text">No information</div>
          <% end %>
        </td>
        <td>
          <% if student.department_name %>
            <%= student.department_name %>
          <% else %>
            <div class="grey-text">No information</div>
          <% end %>
        </td>
        <td>
          <% if student.major_name %>
            <%= student.major_name %>
          <% else %>
            <div class="grey-text">No information</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
