<table class="hoverable">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>School</th>
      <th>Major</th>
    </tr>
  </thead>
  <tbody>
    <% students.each do |student| %>
      <tr>
        <td>
          <a href="<%= student_path student.username %>">
            <%= student.name.upcase%>
          </a>
        </td>
        <td><%= student.email.upcase %></td>
        <td>
          <% if student.school_name %>
            <%= student.school_name.upcase %>
          <% else %>
            <div class="grey-text">NO INFORMATION</div>
          <% end %>
        </td>
        <td>
          <% if student.major_name %>
            <%= student.major_name.upcase %>
          <% else %>
            <div class="grey-text">NO INFORMATION</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
