<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="section">
        <%= form_for @student,
          html: { method: :put } do |f| %>

          <div class="col s2">
            <div class="section">

              <div class="avatar">
                <img src="<%= @student.avatar_url %>" alt="avatar" class="responsive-img circle">
              </div>

              <div class="collection">

                <a class="collection-item" href="https://linkedin.com" target="_blank">
                  <i class="fa fa-linkedin-square"></i> LinkedIn
                </a>

                <a class="collection-item" href="https://github.com" target="_blank">
                  <i class="fa fa-github"></i> GitHub
                </a>

              </div>
            </div>
          </div>

          <div class="col s10">
            <div class="section">

              <div class="input-field col s5">
                <%= f.text_field :first_name, class: "validate" %>
                <%= f.label :first_name %>
              </div>

              <div class="input-field col s5">
                <%= f.text_field :last_name, class: "validate" %>
                <%= f.label :last_name %>
              </div>

              <div class="input-field col s5">
                <%= f.text_field :school_name, class: "validate" %>
                <%= f.label :school %>
              </div>

              <div class="input-field col s5">
                <%= f.text_field :major_name, class: "validate" %>
                <%= f.label :major %>
              </div>

              <div class="col s3" style="margin-top: 1rem">
                <%= f.label :graduation_year %>
                <div class="select-wrapper">
                  <%= select_year @student.graduation_year,
                    {
                    prefix: "student",
                    field_name: "graduation_year",
                    start_year: 10.years.from_now.year,
                    end_year: 1950,
                    prompt: "Select graduation year"
                  },
                  {
                    class: "browser-default"
                  } %>
              </div>
            </div>

            <div class="actions col s10">
              <div class="section">
                <button class="btn waves-effect waves-light" type="submit" name="action">Update
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>

          </div>

        <% end %>

      </div>

      <div class="col s8 offset-s2">
        <div class="divider"></div>
      </div>

      <div class="col s12">
        <div class="section">

          <div class="col s4 offset-s2">
            <h5 class="red-text darken-2">Delete Account</h5>
            <label><strong>Warning</strong>: Deleting your account is irreversible</label>
          </div>

          <div class="col s6">
            <div class="valign-wrapper">
              <%= link_to account_registration_path,
                data: { confirm: "Are you sure you want to delete your account? Your profile and any active applications will be deleted as well." },
                method: :delete,
                class: "red darken-2 btn waves-effect waves-light valign",
                style: "margin-top: 15px" do %>
                Delete Account<i class="mdi-action-highlight-remove right"></i>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
