<div class="container">
  <div class="row">
    <div class="col s12" style="position: relative">
      <div class="section">

        <div class="col s2">
          <div class="avatar">
            <img src="<%= @student.avatar_url %>" alt="avatar" class="responsive-img circle">
          </div>
        </div>
        <div class="col s8">
          <h5 style="position: absolute; bottom: 0;"><%= @student.full_name %></h5>
        </div>
        <% if current_account.student_username == params[:id] %>
          <div class="col s2" style="position: absolute; bottom: 0; right: 0;">
            <%= link_to edit_student_path(current_account.student_username),
              method: :get,
              class: "btn waves-effect waves-light" do %>
              Edit<i class="mdi-image-edit right"></i>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <ul class="tabs">
        <li class="tab col s2"><a href="#resume">Resume</a></li>
        <li class="tab col s2"><a href="#profile">Profile</a></li>
      </ul>
    </div>
    <div id="resume" class="col s12">
      <div class="section">
        <%= render "resume", student: @student, resume_entries: @student.resume_entries %>
      </div>
    </div>
    <div id="profile" class="col s12">
      <div class="section">
        <%= render "profile", student: @student %>
      </div>
    </div>
  </div>
</div>
