<div class="row">
  <%= form_for(@posting) do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>
    <div class="input-field col s6">
      <p class="range-field" style="padding-top:12.5px">
        <%= f.range_field :duration, min: "1", max: "4" %>
      </p>
      <%= f.label :duration, "Duration (Weeks)" %>
    </div>
    <div class="input-field col s6">
      <%= f.label :compensation, "Compensation Type" %>
     <p class ="center" style="padding-top:5px">
      <%= f.radio_button(:compensation, "Pay") %>
        <%= f.label(:compensation_pay, "Pay") %>
      <%= f.radio_button(:compensation, "Referral") %>
        <%= f.label(:compensation_referral, "Referral") %>
     </p>
    </div>
    <div class="input-field col s12">
      <%= f.text_area :description, class: "materialize-textarea" %>
      <%= f.label :description %>
    </div>

    <div class="actions input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Update
        <i class="mdi-content-send right"></i>
      </button>
    </div>
  <% end %>
</div>

