<div class="container">
  <table class="hoverable centered">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Employer</th>
        <th>Duration</th>
        <th>Compensation</th>
        <th>Views</th>
        <th>Applicants</th>
      </tr>
    </thead>
    <tbody>
      <% @postings.each do |posting| %>
      <tr>
        <td><%= link_to posting.title, posting_path(posting) %></td>
        <td><%= link_to posting.employer.name, employer_path(posting.employer.username) %></td>
        <td><%= pluralize(posting.duration, 'week') %></td>
        <td><%= posting.compensation.upcase %></td>
        <td><%= posting.view_count %></td>
        <td><%= link_to posting.posting_applications.count,
                        posting_applicants_path(posting),
                        data: { position: "left",
                                delay: "50",
                                tooltip: "Click to see applicants"
                        },
                        class: "tooltipped" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="position: fixed; bottom: 9px; right: 24px;">
  <%= link_to new_posting_path,
              data: { position: "left",
                      delay: "50",
                      tooltip: "Create new posting"
              },
              class: "tooltipped btn-floating btn-large waves-effect waves-light" do %>
    <i class="mdi-content-add"></i>
  <% end %>
</div>
