<div class="container">
  <table class="hoverable bordered centered">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Employer</th>
        <th>Duration</th>
        <th>Compensation</th>
        <th>Favorites</th>
        <th>Apply!</th>
      </tr>
    </thead>
    <tbody>
      <% @postings.each do |posting| %>
      <tr>
        <td><%= link_to posting.title, posting_path(posting) %></td>
        <td><%= link_to posting.employer.name, employer_path(posting.employer.username) %></td>
        <td><%= pluralize(posting.duration, 'Week')%></td>
        <td><%= posting.compensation %></td>
        <td> <%= link_to posting_path(posting),
              data: { position: "left",
                      delay: "50",
                      tooltip: "Click here to favorite"
              },
              class: "tooltipped" do %>
              <i class="mdi-action-favorite-outline"></i>
            <% end %>
        </td>
        <td> <%= link_to posting_posting_applications_path(posting),
              data: { position: "left",
                      delay: "50",
                      tooltip: "Click here to apply"
              },
              method: :post,
              class: "tooltipped" do %>
              <i class="mdi-content-send"></i>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
