<div class="navbar-fixed">
  <nav class="grey lighten-4">
    <div class="nav-wrapper">
      <%= link_to root_path, id: "logo-container", class: "brand-logo" do %>
        <%= image_tag("working-scholar-logo.svg", alt: "WorkingScholar logo", class: "logo-icon") %>
        <ul class="left hide-on-med-and-down">
          <div class="logo-text">
            WorkingScholar
          </div>
        </ul>
      <% end %>
      <ul class="right hide-on-med-and-down">
        <%= render "shared/navbar/page_actions" %>
        <%= render "shared/navbar/account_actions" %>
      </ul>
      <ul id="side-navigation" class="side-nav">
        <li><%= link_to "Home", root_path, class: "nav-item" %>
        <%= render "shared/navbar/page_actions" %>
        <li class="divider"></li>
        <%= render "shared/navbar/sidenav_account_actions" %>
      </ul>
      <a href="#" data-activates="side-navigation" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
