<div class="container">
  <div class="section">
    <%= render "photo" %>

    <%= render "divider" %>

    <%= render "edit_account" %>

    <%= render "divider" %>

    <% if @account.student || @account.employer %>
    <%= render "edit_profile" %>

    <%= render "divider" %>
    <% end %>

    <%= render "delete_account" %>
  </div>
</div>
