<div class="container">
  <div class="section">
    <%= render "photo" %>

    <%= render "edit_account" %>

    <%= render "divider" %>

    <%= render "edit_profile" %>

    <%= render "divider" %>

    <%= render "delete_account" %>
  </div>
</div>
