<div id="splash" class="valign-wrapper">
  <div class="container section valign">
    <h1 class="center white-text">Hire For Your Next Project Today!</h1>
    <p class="flow-text center white-text">University students need jobs. Small businesses need quality, top-notch employees. We are in the business of connecting the two.</p>
    <div class="row center">
      <%= link_to  new_account_registration_path, class: "btn-large waves-effect waves-light", method: :get do %>
        <i class="mdi-social-school right"></i>I'm a Student
      <% end %>
      <%= link_to  new_account_registration_path, class: "btn-large waves-effect waves-light", method: :get do %>
        <i class="mdi-maps-store-mall-directory right"></i>I'm an Employer
      <% end %>
    </div>
  </div>
</div>

<div id="team" class="section white">
  <div class="container">
    <div class="row center">
      <h2>Team</h2>
    </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="center">
        <div class="headshot">
          <%= image_tag("sheret.jpg", class: "circle") %>
          <h5 class="center">Sheret Ross</h5>
          <h6 class="center">Chief Product</h6>
          <p class="light">Having studied and worked in over 5 cities within 3 countries, Sheret has extensive knowledge in developing professional networks. With a marketing background from McGill University, and work experience in Entertainment, Technology, and Consumer Packaged Goods, Sheret’s drive to unearth new opportunities for others is his passion. In his spare time, you may find him awake at ridiculous hours, traveling the world, or keeping active.</p>
        </div>
      </div>
    </div>
      <div class="col s12 m6">
        <div class="center">
          <div class="headshot">
            <%= image_tag("stuart.jpg", class: "circle") %>
            <h5 class="center">Stuart Crust</h5>
            <h6 class="center">Chief Techology</h6>
            <p class="light">A student, programmer, and polyglot, Stuart is always on the lookout for emergent tools and technologies. With skills honed during an internship with Zynga, Stuart is a perfectionist with an eye for user interaction and simple usability. In his spare time, Stuart can be found working his way through the latest sci-fi space opera or hacking away on new tooling serenaded by his increasingly eclectic music collection.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="why">
  <div class="container section">
    <div class="row center">
      <h2>Why</h2>
    </div>
    <div class="row">
      <div class="col s12 center">
        <p class="center-align light">Small-to-medium sized businesses have demand for project-based labour but lack the financial means to utilize larger consulting and marketing firms.</p>
        <p class="center-align light">This includes preparing financial statements, basic web development, web/logo design, marketing strategy, social media implementation, and other creative and business aspects.</p>
        <p class="center-align light">That’s where we come in.</p>
        <p class="center-align light">Students have a need to apply their theoretical and technical backgrounds to real-life scenarios to help launch their careers. We boast a vast array of talented students who can help your business grow. Just refine your search, and start hiring!</p>
      </p>
    </div>
  </div>
</div>

<div id="what" class="section white">
  <div class="container">
    <div class="row center">
      <h2>What</h2>
    </div>
    <div class="row">
      <div class="col s12 l4">
        <h2 class="center brown-text"><i class="mdi-action-account-circle"></i></h2>
        <h5 class="center">The Student</h5>
        <p class="center-align light">Have you ever been turned down for a full-time summer position or entry-level job due to your lack of “professional” experiences? In today’s market, finding a job as a student without prior experience is nearly impossible.</p>
        <p class= "center-align light">No more. We’ve got you covered. Sign up today to become one of our independent micro-consultants and have instant access to smaller firms looking to grow their business.</p>
      </div>

      <div class="col s12 l4">
        <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
        <h5 class="center">The Company</h5>
        <p class="center-align light">Has your firm struggled to add quality bodies to your team due to the financial constraints? Can’t find energetic, creative, and academic top-tier talent?</p>
        <p class="center-align light">Grow your business today. With WorkingScholar, companies have instant access to our vast database of top-tier academic talent. Refine your search, confirm you can meet the desired student’s requirements, and connect instantaneously.</p>
      </div>

      <div class="col s12 l4">
        <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
        <h5 class="center">The Track Record</h5>
        <p class="center-align light">What makes us unique from all other job posting boards is our proprietary software. Create an online track record with each project successfully completed through WorkingScholar.</p>
        <p class="center-align light">Students and companies have the opportunity to rate each other based on their personal experiences. Get started today to start building your footprint!</p>
      </div>
    </div>
  </div>
</div>

<div id="recently-matched" class="section white">
  <div class="container">
    <div class="row center">
      <h2 class="white-text">Recently Matched</h2>
    </div>
  </div>

  <div id="recently-matched-slider" class="slider">
    <ul class="slides">
      <% @recently_matched.each do |matched| %>
      <li>
        <div class="caption center-align">
          <h4>
            <%= link_to matched.student.name, student_path(matched.student) -%>
            <%= " matched with " -%>
            <%= link_to matched.posting.employer.name, employer_path(matched.posting.employer.name) -%>
          </h4>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="how" class="section white">
  <div class="container">
    <div class="row center">
      <h2>How</h2>
    </div>
    <div class="row">
      <div class="col s12 l3">
        <h2 class="center brown-text"><i class="mdi-social-school"></i></h2>
        <h5 class="center">Students</h5>
        <p class="light center"></p>
      </div>
      <div class="col s12 l3">
        <h2 class="center brown-text"><i class="mdi-action-account-circle"></i></h2>
        <h5 class="center">Create an Account</h5>
        <p class="light center"></p>
      </div>

      <div class="col s12 l3">
        <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
        <h5 class="center">Build Your Profile</h5>
        <p class="light center"></p>
      </div>

      <div class="col s12 l3">
        <h2 class="center brown-text"><i class="mdi-device-airplanemode-on"></i></h2>
        <h5 class="center">Launch Your Career</h5>
        <p class="light center"></p>
      </div>

      <div class="row">
        <div class="col s12 l3">
          <h2 class="center brown-text"><i class="mdi-action-store"></i></h2>
          <h5 class="center">Employers</h5>
          <p class="light center"></p>
        </div>
        <div class="col s12 l3">
          <h2 class="center brown-text"><i class="mdi-action-account-circle"></i></h2>
          <h5 class="center">Create an Account</h5>
          <p class="light center"></p>
        </div>

        <div class="col s12 l3">
          <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Build Your Portfolio</h5>
          <p class="light center"></p>
        </div>

        <div class="col s12 l3">
          <h2 class="center brown-text"><i class="mdi-action-list"></i></h2>
          <h5 class="center">Find Top-Notch Talent</h5>
          <p class="light center"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="testimonials">
  <div class="container section">
    <h2 class="center">Testimonials</h2>
    <h5 class="center light">Lobem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsum hic asperiores odit quos accusantium inventore. Fugit doloribus cupiditate asperiores, quos assumenda earum odio minima? Quisquam voluptates officiis voluptatum ipsam.</h5>
  </div>
</div>
