<table class="hoverable centered">
  <thead>
    <tr>
      <th>Job Postings</th>
      <th>Project Requirements</th>
      <th>Duration</th>
      <th>Compensation</th>
      <th>Posting Views</th>
      <th>Number of Applicants</th>
    </tr>
  </thead>
  <tbody>
    <% postings.each do |posting| %>
      <tr>
        <td><%= posting.title %></td>
        <td><%= posting.description%></td>
        <td><%= pluralize(posting.duration, 'Week')%></td>
        <td><%= posting.compensation%></td>
        <td><%= posting.view_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
