<div class="container">
  <table class="hoverable centered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Employer</th>
        <th>Duration</th>
        <th>Compensation</th>
        <th>Views</th>
        <th>Matched</th>
      </tr>
    </thead>
    <tbody>
      <% @posting_applications.each do |posting_application| %>
        <tr>
          <td><%= link_to posting_application.title, posting_path(posting_application.posting) %></td>
          <td><%= link_to posting_application.employer.name, employer_path(posting_application.employer.username) %></td>
          <td><%= pluralize(posting_application.duration, 'week') %></td>
          <td><%= posting_application.compensation.upcase %></td>
          <td><%= posting_application.view_count %></td>
          <td>
              <% if posting_application.matched %>
                <i class="mdi-action-done-all tooltipped" data-position="left" data-delay="50" data-tooltip="Matched sucessfully"></i>
              <% else %>
                <i class="mdi-action-autorenew tooltipped" data-position="left" data-delay="50" data-tooltip="Awaiting matching"></i>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
