<div class="container">
  <div class="row">
    <table class="hoverable centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>School</th>
          <th>Department</th>
          <th>Major</th>
          <th>Match</th>
        </tr>
      </thead>
      <tbody>
        <% @posting_applications.each do |posting_application| %>
          <tr>
            <td><%= link_to posting_application.student.name, student_path(posting_application.student) %></td>
            <td><%= posting_application.student.school_name %></td>
            <td><%= posting_application.student.department_name %></td>
            <td><%= posting_application.student.major_name %></td>
            <td>
              <% if posting_application.matched %>
               <i class="mdi-action-done-all tooltipped" data-position="left" data-delay="50" data-tooltip="Matched sucessfully"></i>
              <% else %>
                <%= form_for posting_application do |f| %>
                  <%= f.hidden_field :matched, value: true %>
                    <button class="btn-floating btn waves-effect waves-light" type="submit" name="action" data-confirm="Are you sure you want to select this applicant?">
                      <i class="mdi-content-add"></i>
                    </button>
                <% end %>
              <% end %>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
