<% if current_account %>
  <li><%= link_to "My Profile", profile_path, class: "nav-item" %></li>
  <% if current_account.student %>
    <li><%= link_to "My Applications", applications_path, class: "nav-item" %></li>
  <% end %>
  <% if current_account.employer %>
    <li><%= link_to "My Postings", profile_postings_path, class: "nav-item" %></li>
  <% end %>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_account_session_path, method: :delete, class: "nav-item" %></li>
<% else %>
  <li><%= link_to "Login", new_account_session_path, class: "nav-item" %></li>
  <li><%= link_to "Register", new_account_registration_path, class: "nav-item" %></li>
<% end %>
